@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');p{
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
    color: black;
    text-align: center;
}

/* make bold */
h1{
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    color: black;
    text-align: left;
    margin: none;
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    color: black;
    text-align: left;
    margin: none;
}

.navbar-item{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 10px;
}

.h1-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.main-container{
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.body-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

#profile_pic{
    width: 300px;
    height: 300px;
    border-radius: 6%;
    margin: 10px;
}

#nav-bar-seperator{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 10px;
}

#dotted-line{
    /* dotted hr line */    
    border: none;
    border-top: 3px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin: 0px;
}

#about_text{
    min-width: 400px;
}